@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<h4>Add a doctor to specialty @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.SpecialtyId)

    @Html.Label("Select Doctor")
    @Html.DropDownList("DoctorId")

    <button class="green" type="submit">Save</button>
}

<a href='@Url.Action("Index")'>
  <button>Back To List</button>
</a>